mat-card-content {
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-card-header-text {
  margin : 0 !important;
}

mat-card-content > * {
  width: 100%;
}

mat-card-title {
  font-size: large !important;
}
